#contents .total-count {
    margin: 10px 20px;
    font-size: large;
}

#contents .pagination {
    margin: 10px 20px;
    font-size: large;
}

#contents .pagination-item {
    padding: 0 10px;
}

#contents .pagination-count {
    padding-right: 10px;
}

#contents .pagination-previous {
    padding: 0 10px;
}

#contents .pagination-next {
    padding-left: 10px;
}

#contents .search-message {
    padding: 0 20px 10px 20px;
}

#link-add-item {
    padding-left: 50px;
    font-size: 12px;
}

#data-list-header {
    padding: 10px 20px 0 20px;
}

#data-list {
    padding: 0 20px 10px 20px;
}

#data-list .row {
    border: 0px;
}

#data-list .col {
    border: solid 1px black;
}

#search-conditions-form {
    padding: 0 30px;
}

#search-conditions-form table {
    width: 100%;
}

#search-conditions-form td {
    border-collapse: collapse;
    border: solid 1px black;
    padding: 2px;
}

#search-conditions-form .target-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: gray;
    color: white;
}

#search-conditions-form .item-title {
    text-align: center;
    background-color: lightgray;
}