{% extends 'vacancy_mgr/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}賃貸管理業者グループ一覧{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'trader/css/style.css' %}">
    {% endblock %}

    {% block page_top %}{% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}【賃貸管理業者グループ一覧】{% endblock %}

    {% block contents %}
        <div  id="data-list-header">
            <div class="row">
                <div id="link-add-item" class="col col-6 text-left">
                    <a href="{% url 'trader_create_trader_group' %}">業者グループ追加</a>
                </div>
                <div id="link-change-list" class="col col-6 text-right">
                {% if all_trader_groups %}
                    <a href="{% url 'trader_trader_group_list' %}">業者グループ一覧</a>
                {% else %}
                    <a href="{% url 'trader_all_trader_group_list' %}">全業者グループ一覧</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div id="data-list">
        {% if trader_groups %}
            <div class="row">
                <div class="col col-10 text-center">賃貸管理業者グループ名</div>
                <div class="col col-1 text-center">停止</div>
                <div class="col col-1 text-center">削除</div>
            </div>
            {% for item in trader_groups %}
            <div class="row">
                <div class="col col-10"><a href="{% url 'trader_trader_group' item.idb64 %}" target="_blank" rel="noopener noreferrer">{{ item.trader_group_name }}</a></div>
                <div class="col col-1 text-center">{% if item.is_stopped %}×{% else %}－{% endif %}</div>
                <div class="col col-1 text-center">{% if item.is_deleted %}×{% else %}－{% endif %}</div>
            </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col col-12 text-center">該当する賃貸管理業者グループはありません。</div>
            </div>
        {% endif %}
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block page_bottom %}{% endblock %}
