{% extends 'vacancy_mgr/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}保証会社情報 {{guarantee_company.name}}{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'masters/css/style.css' %}">
    {% endblock %}

    {% block page_top %}{% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}【保証会社情報】 {{ guarantee_company.name }}{% endblock %}

    {% block contents %}
        <div id="data-form">
        {% if back_url %}
            <form action="{% url 'masters_guarantee_company' guarantee_company.idb64 %}?back_url={{ escaped_back_url }}" method="post" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'masters_guarantee_company' guarantee_company.idb64 %}" method="post" enctype="multipart/form-data">
        {% endif %}
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>*&nbsp;{{ field.label }} : {{ error }}</p>
                        {% endfor %}
                     {% endfor %}
                {% endif %}
                <div class="row py-1">
                    <div class="col col-3 col-md-2 col-form-label text-end"><label>保証会社ID</label></div>
                    <div class="col col-auto col-form-label">{{ guarantee_company.id }}</div>
                </div>
                <div class="row py-1">
                    <div class="col col-3 col-md-2 col-form-label text-end"><label>保証会社名</label></div>
                    <div class="col container-fluid">{{ form.name }}</div>
                </div>
                <div class="row py-1">
                    <div class="col col-3 col-md-2 col-form-label text-end"><label>優先順:</label></div>
                    <div class="col col-auto">{{ form.priority }}</div>
                </div>
                <div class="row py-1">
                    <div class="col col-3 col-md-2 col-form-label text-end"><label>停止</label></div>
                    <div class="col col-auto col-form-label text-center">{{ form.is_stopped }}<label class="form-check-label">{{form.is_stopped.label}}</label></div>
                </div>
                <div class="row py-3">
                    <div class="col col-2"></div>
                    <div class="col col-4">
                        <input type="submit" value="保存" class="btn d-block mx-auto d-flex align-items-center btn-primary">
                    </div>
                    <div class="col col-4">
                    {% if back_url %}
                        <a href="{{ back_url }}" class="btn btn-secondary">戻る</a>
                    {% else %}
                        <input type="button" value="閉じる" onclick="window.close();" class="btn d-block mx-auto d-flex align-items-center btn-secondary">
                    {% endif %}
                    </div>
                    <div class="col col-2"></div>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block page_bottom %}{% endblock %}
