{% extends 'vacancy_mgr/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}火災保険会社一覧{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'masters/css/style.css' %}">
    {% endblock %}

    {% block page_top %}{% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}【火災保険会社一覧】{% endblock %}

    {% block contents %}
        <div  id="data-list-header">
            <div class="row py-2">
                <div id="link-add-item" class="col col-12 text-start">
                    <a href="{% url 'masters_create_insurance_company' %}">火災保険会社追加</a>
                </div>
            </div>
        </div>
        <div id="data-list">
        {% if insurance_companies %}
            <div class="row pb-5">
                <div class="col col-8 py-2 text-center">火災保険会社名</div>
                <div class="col col-3 py-2 text-center">優先順</div>
                <div class="col col-1 py-2 text-center">停止</div>
            {% for item in insurance_companies %}
                <div class="col col-8 py-2"><a href="{% url 'masters_insurance_company' item.idb64 %}" target="_blank" rel="noopener noreferrer">{{ item.name }}</a></div>
                <div class="col col-3 py-2 text-center">{{ item.priority }}</div>
                <div class="col col-1 py-2 text-center">{% if item.is_stopped %}×{% else %}－{% endif %}</div>
            {% endfor %}
            </div>
        {% else %}
            <div class="row py-2">
                <div class="col col-12 text-center">該当する火災保険会社はありません。</div>
            </div>
        {% endif %}
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block page_bottom %}{% endblock %}
