#data-list-header {
    padding: 10px 20px 0 20px;
}

#data-list {
    padding: 0 20px 10px 20px;
}

#data-list .row {
    border: 0px;
}

#data-list .col {
    border: solid 1px black;
}

/* 各項目 */
#id_information {
    height: 100px;
}

#id_start_date {
    width: 180px;
}

#id_end_date {
    width: 180px;
}

#id_priority {
    width: 100px;
    text-align: right;
}
