div.menu-group {
    margin: 10px 0 50px 0;
}

div.menu-group h2 {
    border-bottom: 2px solid lightgray;
    font-size: large;
    font-weight: bold;
    color: #666666;
}

div.menu-group a {
    margin: 5px 0;
}

div.card {
    height: 100%;
}