{% extends 'vacancy_mgr/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}空室情報テーマ {{ vacancy_theme.name }}{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'vacancy_item/css/style.css' %}">
    {% endblock %}

    {% block page_top %}{% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}【空室情報テーマ】{{ vacancy_theme.name }}{% endblock %}

    {% block contents %}
        <div id="data-form">
        {% if back_url %}
            <form action="{% url 'vacancy_item_vacancy_theme' vacancy_theme.idb64 %}?back_url={{ escaped_back_url }}" method="post" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'vacancy_item_vacancy_theme' vacancy_theme.idb64 %}" method="post" enctype="multipart/form-data">
        {% endif %}
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>*&nbsp;{{ field.label }} : {{ error }}</p>
                        {% endfor %}
                     {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">ID</label></div>
                    <div class="col col-9 col-md-10 col-form-label">{{ vacancy_theme.id }}</div>
                </div>
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">テーマ名</label></div>
                    <div class="col col-9 col-md-10">{{ form.name }}</div>
                </div>
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">タイトル</label></div>
                    <div class="col col-9 col-md-10">{{ form.title }}</div>
                </div>
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">説明</label></div>
                    <div class="col col-9 col-md-10">{{ form.description }}</div>
                </div>
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">表示順</label></div>
                    <div class="col col-9 col-md-10">{{ form.priority }}</div>
                </div>
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">閲覧レベル</label></div>
                    <div class="col col-9 col-md-10">{{ form.room_auth_level }}</div>
                </div>
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">公開</label></div>
                    <div class="col col-3 col-md-2 col-form-label text-center">{{ form.is_publish }}<label class="form-check-label">{{form.is_publish.label}}</label></div>
                    <div class="col col-6 col-md-8"></div>
                </div>
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">停止</label></div>
                    <div class="col col-3 col-md-2 col-form-label text-center">{{ form.is_stopped }}<label class="form-check-label">{{form.is_stopped.label}}</label></div>
                    <div class="col col-6 col-md-8"></div>
                </div>
                <div class="row">
                    <div class="col col-3 col-md-2 col-form-label"><label class="float-right">登録情報</label></div>
                    <div class="col col-9 col-md-10 col-form-label">
                        <div>
                            <label>登録日時:</label>{{ vacancy_theme.created_at }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-2"></div>
                    <div class="col col-4">
                        <input type="submit" value="保存" class="btn d-block mx-auto d-flex align-items-center btn-primary">
                    </div>
                    <div class="col col-4">
                    {% if back_url %}
                        <a href="{{ back_url }}" class="btn btn-secondary">戻る</a>
                    {% else %}
                        <input type="button" value="閉じる" onclick="window.close();" class="btn d-block mx-auto d-flex align-items-center btn-secondary">
                    {% endif %}
                    </div>
                    <div class="col col-2"></div>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block page_bottom %}{% endblock %}
