{% extends 'vacancy_mgr/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}建物作成{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'property/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'property/css/style_ids.css' %}">
    {% endblock %}

    {% block page_top %}{% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}【建物作成】{% endblock %}

    {% block contents %}
        <div id="create-form">
        {% if back_url %}
            <form action="{% url 'property_create_building' %}?back_url={{ escaped_back_url }}" method="post" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'property_create_building' %}" method="post" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>*&nbsp;{{ field.label }} : {{ error }}</p>
                        {% endfor %}
                     {% endfor %}
                {% endif %}
                <div class="row py-1 justify-content-center">
                    <div class="col col-12">
                        <div class="row py-1">
                            <div class="col col-auto col-form-label"><label class="float-right">建物名称</label></div>
                            <div class="col container-fluid">{{ form.building_name }}</div>
                        </div>
                        <div class="row py-1">
                            <div class="col col-auto col-form-label"><label class="float-right">名称カナ</label></div>
                            <div class="col container-fluid">{{ form.building_kana }}</div>
                        </div>
                        <div class="row py-3">
                            <div class="col col-2"></div>
                            <div class="col col-4">
                                <input type="submit" value="追加" class="btn d-block mx-auto d-flex align-items-center btn-primary">
                            </div>
                            <div class="col col-4">
                            {% if back_url %}
                                <a href="{{ back_url }}" class="btn btn-secondary">戻る</a>
                            {% else %}
                                <input type="button" value="戻る" onclick="history.back();" class="btn d-block mx-auto d-flex align-items-center btn-secondary">
                            {% endif %}
                            </div>
                            <div class="col col-2"></div>
                        </div>
                    </div>
                </div>
             </form>
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block page_bottom %}
        <!-- 自動カナ入力 -->
        <script type="text/javascript" src="{% static 'lib/autokana/autokana.js' %}" defer></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                AutoKana.bind("#id_building_name", "#id_building_kana", { katakana: true });
            });
        </script>
    {% endblock %}
