{% extends 'vacancy_mgr/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}建物削除 {{ data.building_name }}{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'property/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'property/css/style_ids.css' %}">
    {% endblock %}

    {% block page_top %}{% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}【建物削除】{{ data.building_name }}{% endblock %}

    {% block contents %}
        <div id="delete-form">
        {% if is_deletable %}
            <form action="{% url 'property_delete_building'  data.oid %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>*&nbsp;{{ field.label }} : {{ error }}</p>
                        {% endfor %}
                     {% endfor %}
                {% endif %}
                <div class="row py-1 justify-content-center">
                    <div class="col col-auto">
                        <div class="row py-1">
                            <div class="col col-auto pt-2">
                                {{ form.confirm }}&nbsp;{{ data.building_name }} の削除を確認しました。
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col col-2"></div>
                            <div class="col col-4">
                                <input type="submit" value="削除" class="btn d-block mx-auto d-flex align-items-center btn-danger">
                            </div>
                            <div class="col col-4">
                                <input type="button" value="戻る" onclick="history.back();" class="btn d-block mx-auto d-flex align-items-center btn-secondary">
                            </div>
                            <div class="col col-2"></div>
                        </div>
                    </div>
                </div>
             </form>
        {% else %}
            <div class="row">
                <div class="col col-2"></div>
                <div class="col col-10">
                    <div>部屋が登録されているため、建物の削除ができません。</div>
                    <div>建物を削除するためには、登録されている部屋を全て削除してください。</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <input type="button" value="戻る" onclick="history.back();" class="btn d-block mx-auto d-flex align-items-center btn-secondary">
                </div>
            </div>
        {% endif %}
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block page_bottom %}{% endblock %}
