{% extends 'vacancy_mgr/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}周辺施設 {{ data.facility.name }} {{ data.building.building_name }} {% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'property/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'property/css/style_ids.css' %}">
    {% endblock %}

    {% block page_top %}{% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}【周辺施設】{{ data.building.building_name }}{% endblock %}

    {% block contents %}
        <div id="data-form">
        {% if back_url %}
            <form action="{% url 'property_edit_building_facility'  data.building.oid data.id %}?back_url={{ escaped_back_url }}" method="post" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'property_edit_building_facility'  data.building.oid data.id %}" method="post" enctype="multipart/form-data">
        {% endif %}
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>*&nbsp;{{ field.label }} : {{ error }}</p>
                        {% endfor %}
                     {% endfor %}
                {% endif %}
                <div class="row py-1">
                    <div class="col col-3 text-end"><label>種別:</label></div>
                    <div class="col col-auto">{{ data.facility.name }}</div>
                </div>
                <div class="row py-1">
                    <div class="col col-3 col-form-label text-end"><label>施設名:</label></div>
                    <div class="col col-9">{{ form.facility_name }}</div>
                </div>
                <div class="row py-1">
                    <div class="col col-3 col-form-label text-end"><label>距離:</label></div>
                    <div class="col col-auto">{{ form.distance }}</div>
                    <div class="col col-auto col-form-label text-start"><span>m</span></div>
                    <div class="col col-auto col-form-label text-end"><label>優先順:</label></div>
                    <div class="col col-auto">{{ form.priority }}</div>
                </div>

                <div class="row py-3">
                    <div class="col col-2"></div>
                    <div class="col col-4">
                        <input type="submit" value="保存" class="btn d-block mx-auto d-flex align-items-center btn-primary">
                    </div>
                    <div class="col col-4">
                    {% if back_url %}
                        <a href="{{ back_url }}" class="btn btn-secondary">戻る</a>
                    {% else %}
                        <a href="{% url 'property_building' data.building.oid %}?page=around_page" class="btn btn-secondary">戻る</a>
                    {% endif %}
                    </div>
                    <div class="col col-2"></div>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block page_bottom %}{% endblock %}
