{% extends 'vacancy_mgr/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}部屋画像アップロード{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'property/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'property/css/style_ids.css' %}">
    {% endblock %}

    {% block page_top %}{% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}【部屋画像アップロード】{% endblock %}

    {% block contents %}
        <div id="create-form">
        {% if back_url %}
            <form action="{% url 'property_upload_room_picture' room.oid %}?back_url={{ escaped_back_url }}" method="post" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'property_upload_room_picture'  room.oid %}" method="post" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>*&nbsp;{{ field.label }} : {{ error }}</p>
                        {% endfor %}
                     {% endfor %}
                {% endif %}
                <div class="row py-1 justify-content-center">
                    <div class="col col-auto">
                        <div class="row py-1">
                            <div class="col col-auto col-form-label"><label class="float-right">画像種別</label></div>
                            <div class="col container-fluid">{{ form.picture_type }}</div>
                        </div>
                        <div class="row py-1">
                            <div class="col col-auto col-form-label"><label class="float-right">画像ファイル</label></div>
                            <div class="col container-fluid">{{ form.image }}</div>
                        </div>
                        <div class="row py-1">
                            <div class="col col-auto"><p class="notice-message">※ 個人情報や機密事項を含むファイルはアップロードしないでください。</p></div>
                        </div>
                        <div class="row py-3">
                            <div class="col col-2"></div>
                            <div class="col col-4">
                                <input type="submit" value="追加" class="btn d-block mx-auto d-flex align-items-center btn-primary">
                            </div>
                            <div class="col col-4">
                            {% if back_url %}
                                <a href="{{ back_url }}" class="btn btn-secondary">戻る</a>
                            {% else %}
                                <a href="{% url 'property_room' room.oid %}?page=pictures_page" class="btn btn-secondary">戻る</a>
                            {% endif %}
                            </div>
                            <div class="col col-2"></div>
                        </div>
                    </div>
                </div>
             </form>
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block page_bottom %}
        <script type="text/javascript" src="{% static 'vacancy_mgr/js/prevent_double_submit.js' %}"></script>
    {% endblock %}
